texture.sadhasivam.net {
	encode gzip

	# Keep API on your server
	handle /api/* {
		reverse_proxy localhost:8000
	}

	# Send everything else to your Vercel app
	handle {
		reverse_proxy https://kolam-pjbisng2c-sadhasivamgmailcoms-projects.vercel.app {
			header_up Host kolam-pjbisng2c-sadhasivamgmailcoms-projects.vercel.app
		}
	}

	log {
		output stdout
		format console
	}
}
